/* AdminList */
.border-container{
    max-width: var(--maxWidth1280);
margin: 20px auto;
}

.backSearch{
    display: flex;
align-items: baseline;
justify-content: space-between;
}

.al{
    border: 1px solid var(--appointColor);
width: fit-content;
padding: 10px 40px;
font-size: 14px;
padding-right: 20px;
border-radius: 20px;
}

.fas{
    position: relative;
left: -10px;
transition: all 0.3s ease;
}

.al:hover .fas{
    left: -20px;
}

.boxform{
    display: flex;
flex-flow: column nowrap;
margin: 40px 0px;
}

.Mingbaibox{width: fit-content;}
.Mingbaibox input[type="text"], label input[type="text"]{
    padding: 10px 20px;
border: 1px solid var(--loginColor);
text-align: end;
border-radius: 20px;
}
label input[type="text"]{text-align: start;}

table, td, th {
    border: 1px solid var(--loginColor);
padding: 5px;
}

table {
width: 100%;
border-collapse: collapse;
}

.selectionpop{
    padding: 10px 20px;
}


/* AddAdmin */
form{
    display: flex;
    flex-flow: column nowrap;
padding: 20px 60px;
margin: 20px auto;
width: 50%;
border: 1px solid var(--loginColor);
border-radius: 20px;
}

.apppple{
    display: inherit;
flex-flow: inherit;
gap: 40px 0px;
}

fieldset{
    display: inherit;
    flex-flow: inherit;
}

.admin-details{
    display: inherit;
    flex-flow: inherit;
    gap: 40px 0px;
    margin: 40px 0px 20px 0px;
    list-style: none;
}

.deA, .deB{
    display: flex;
    align-items: baseline;
    gap: 5px 20px;
    flex-flow: column nowrap;
}

.deB{
    flex-flow: row nowrap;
}

.deA label{width: 100%;}
.deA label input[type="date"]{width: 100%;}

.deA select{
    padding: 5px 20px;
width: 100%;
border: 1px solid var(--appointColor);
}

.deA input[type="text"], .deA input[type="password"], input[type="date"], #pwd{
    padding: 5px 10px;
    border: 1px solid var(--appointColor);
    width: 100%;
}

input[type="date"]{width: 50%;}

.deA p{
    font-size: 12px;
}

/* message */
/* The message box is shown when the user clicks on the password field */
#message{
    display: none;
  }
  
  #pwd:focus ~ #message{
    display: block;
  }
  
  #message{
    font-weight: normal;
  margin: 5px 0px 25px 0px;
  background-color: aliceblue;
  border: 1px solid var(--appointColor);
  padding: 10px;
  font-size: var(--fontSize-12);
  padding: 8px 50px;
  line-height: 2;
  }
  
  /* Add a green text color and a checkmark when the requirements are right */
  .valid{
    color: green;
  }
  
  .valid:before{
    position: relative;
    left: -20px;
    content: "✔";
  }
  
  /* Add a red text color and an "x" when the requirements are wrong */
  .invalid{
    color: red;
  }
  
  .invalid:before{
    position: relative;
    left: -20px;
    content: "✖";
  }


.button{
    padding: 20px;
border-radius: 20px;
font-weight: 600;
cursor: pointer;
background-color: var(--appointColor);
color: var(--White);
transition: all 0.3s ease;
}

.button:hover{
    box-shadow: inset 0px 0px 0px 4px var(--footerBGColor);
background-color: var(--loginColor);
}

.S_btns .button{
  width: 100%;
  margin: 20px 0px;
}


/* Doctor list */
#docInfo, #cusInfo{
    width: 100%;
    gap: 20px;
    line-height: 1.7;
}
.cimage, .cimgbox{
    display: flex;
flex-flow: column nowrap;
}

.cimgbox{
    flex-flow: row nowrap;
    gap: 0px 20px;
}

.idNameDate{
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    margin-top: 10px;
    flex-flow: row nowrap;
}

.unpadding{width: 14%;}
.lblDate{width: 40%;}
.textboxes label select{width: 100%;}
.textboxes label{width: 48%;}
.textboxes .des{width: 100%;}

.textboxes{
    display: flex;
gap: 10px 20px;
flex-flow: row wrap;
margin-top: 10px;
justify-content: space-between;
}

#charCount{font-size: 14px;}

textarea{
    width: 100%;
height: 150px;
resize: none;
border: 1px solid var(--appointColor);
padding: 5px 10px;
}

select{
    padding: 5px 20px;
width: 100%;
border: 1px solid var(--appointColor);
}


/* customer */
.form_wrapper{
    display: flex;
    flex-flow: column nowrap;
    padding: 5px 20px;
    gap: 5px 20px;
}

#cusInfo{
    width: fit-content;
}

.fullName, #lblName, .S_email, .radGender_Box, .S_dob, .S_phone, .S_pwd{
    display: flex;
flex-flow: column nowrap;
gap: 10px 20px;
align-items: baseline;
margin: 8px 0px;
width: 100%;
}

.fullName, .S_email, .radGender_Box, .S_dob, .S_phone, .S_pwd{
    flex-flow: row nowrap;
}

#phoneInput{
    text-align: start;
    padding: 10px 20px;
    border: 1px solid var(--loginColor);
    border-radius: 20px;
}

#DOB, #pwd{
    width: 50%;
border-radius: 40px;
padding: 10px 20px;
border: 1px solid var(--loginColor);
}

#c_email{
  width: 50%;
  border-radius: 40px;
  padding: 10px 20px;
  border: 1px solid var(--loginColor);
}

.boldEmail{
  font-weight: 600;
  font-size: 16px;
}

#phoneError{
    width: 100%;
  }
  
  /* Requirements */
  /* The message box is shown when the user clicks on the password field */
  #requirement, #phoneError, #emailError{
    display: none;
  }
  
  #pwd:focus ~ #requirement, #phoneInput:focus ~ #phoneError, #c_email:focus ~ #emailError{
    display: block;
  }
  
  #requirement, #emailError, #phoneError, #dobError{
    font-weight: normal;
  margin: 5px 0px 25px 0px;
  background-color: aliceblue;
  border: 1px solid var(--appointColor);
  padding: 10px;
  }
  
  #requirement p, #emailError, #phoneError, #dobError{
    padding: 8px 50px;
  }
  
  #emailError, #phoneError, #requirement, #dobError{
    margin-bottom: 5px;
  }
  
  #requirement , #requirement p, #emailError, #phoneError, #dobError{
    font-size: var(--fontSize-12);
  }
  
  /* Add a green text color and a checkmark when the requirements are right */
  .valid, #emailError.form__ok, #phoneError.form__ok, #dobError.form__ok{
    color: green;
  }
  
  .valid:before , #emailError.form__ok:before , #phoneError.form__ok:before, #dobError.form__ok:before{
    position: relative;
    left: -35px;
    content: "✔";
  }
  
  /* Add a red text color and an "x" when the requirements are wrong */
  .invalid, .form__error, #phoneError.form__error, #dobError.form__error{
    color: red;
  }
  
  .invalid:before , .form__error:before, #phoneError.form__error:before, #dobError.form__error:before{
    position: relative;
    left: -35px;
    content: "✖";
  }


/* editAppointment */
.formBox{
  line-height: 1.7;
}

#App_details li{
  margin: 20px 0px;
}

#serviceTypeCheckbox label {
  margin: 10px 0px;
}

#serviceTypeCheckbox label input{
  margin: 10px 20px;
  margin-left: 40px ;
}

#locationSelect{
  border-radius: 0px;
padding: 5px 10px;
margin-left: 10px;
font-size: 18px;
border: 1px solid transparent;
font-weight: 600;
}

.btnUpdate{
  padding: 10px 20px;
width: 100%;
margin-top: 10px;
border-radius: 20px;
background-color: var(--loginColor);
font-weight: 600;
color: black;
transition: all 0.65s ease;
cursor: pointer;
}

.btnUpdate:hover{
background-color: var(--appointColor);
color: var(--White);
}

#pointForm{
  width: 100%;
  line-height: 2;
}

#totalPrices{
  font-size: 24px;
}

.smallNote{
  font-size: 14px;
  margin: 5px 0px 60px 0px;
  text-align: center;
}

.apppple fieldset legend{
  margin-bottom: 40px;
display: flex;
flex-flow: column nowrap;
gap: 5px 0px;
text-align: center;
width: 100%;
}

.apppple fieldset legend p{
  margin-left: 40px;
  font-size: 20px;
}

.apppple fieldset legend h5{
  margin-bottom: 40px;
}

.boxform legend .h3NA, .h1NA{text-align: center;}
.boxform legend .h3NA{margin: 5px 0px 60px 0px;}
#btnSub{margin-top: 40px;}